/* main rules */
/* Start form design */
body {
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 16px;
}

.login {
    width: 300px;
    margin: 100px auto;
    align-items: center;
    text-align: center;
}
.login input {
    margin-bottom: 10px;
    width: 300px;
}
.login .form-control {
    background-color: #eaeaea;
    border-radius: 15px;
}
.login h4 {
    color: rgb(62, 59, 59);
    margin-bottom: 15px;
}
.login .btn {
    width: 40%;
    border-radius: 15px;
}
/* End form design */

/* Start bootstarp edits */
.navbar {
    margin-bottom: 0;

}
.navbar  {
    background-color: #583E7B;
    }
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color:#9277BB;
    color: white;
}

/* end bootstrap edits */

/* start members page */

h1 {
    font-size: 40px ;
    margin: 40px 0;
    color: #43305F;
    position: relative;
    right: 30px;
    text-shadow: 1px 2px 0 rgba(91, 57, 57, 0.4);

}

.control-label{
    font-weight: bolder;
    width: 135px;
    color: #43305F;
    margin-bottom: 20px;
}
.form-control{
    border-radius: 10px;
}
.form-select{
    border-radius: 10px;
}
.savediv{
width: fit-content;
min-width: 150px;
display: flex;
margin: auto;
padding-top: 10px;
position: relative;
right: 30px;


}
.save {
width: 100%;
font-size: 18px;
border-radius: 20px;
position: relative;
background-color: #902af5;
border-style: none;

}



.col-sm-5 {
    position: relative;
}
.required::after {
    position: absolute;
    content: "*";
    right: 30px;
    top: 6px;
    font-size: larger;
    color: rgb(187, 13, 13);
}

.show-pass {
    position: absolute;
    right: 50px;
    top: 10px;
    color: #583E7B;
}

/* end members page */ 


/* manage page */
.main-table thead{
    background-color: #594B95;
    color: rgb(231, 230, 230);
    font-weight: bolder;
}
.main-table{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-table tr {
    border:solid 2px #7e65a5;
}
.main-table td {
    background-color: #b1bcda;
}
.main-table tr:first-child {
    border:none;  
}
.main-table thead {
    border: none;
}
thead th:first-child {
    border-left: none;
}
thead th:last-child {
    border-right: none;
}

tr:first-child th:first-child {
    border-top-left-radius: 30px;
}

tr:first-child th:last-child {
    border-top-right-radius: 20px;
}
.main-table .btn {
    padding: 3px 10px;
}
.fa-edit , .fa-close , .fa-plus{
position: relative;
right: 5px;
}

/* start dashboard */

.home-stats .stat{
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.home-stats .stat .info {
float: right;
}
.home-stats .stat i{
    position: absolute;
    font-size: 80px;
    top: 35px;
    left: 30px;
}
.home-stats .st-members{
background-color: #00cec9;
}
.home-stats .st-pending{
    background-color: #0984e3;
}
.home-stats .st-items{
    background-color: #6c5ce7;
}
.home-stats .st-comments{
    background-color: #a7afb3;
}
.col-md-3:hover{
    transform: scale(1.1);
    transition: 0.4s;
}
.home-stats .stat span{
    display: block;
    font-size: 50px;
}
.home-stats .stat a{
    text-decoration: none;
    color: #fff;
}
.latest{
    margin-top: 30px;
}
.panel-heading{
    background-color: #b1bcda;
    padding: 5px;
}
.panel-heading .float-end {
    font-size: 20px;
    color: #fff;
}
.panel-body{
    background-color: #eaeaea;
    padding: 10px;
}
.latest-users {
    margin-bottom: 0;
}
.latest-users li {
    padding: 5px;
    overflow: hidden;
}
.latest-users li:nth-child(odd){
    background-color: #d9d8e5;
}
.latest-users li:nth-child(even){
    background-color: #b8c4e4;
}
.float-end{
    padding: 0 8px ;
    text-decoration: none;
    margin-left: 5px;
    color: #fff;
}
.latest-approve {
    background-color: #0984e3;
    padding: 0 5px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: #512424;
    
}

.latest .comment-box .member-c {
position: relative;
right:-100px;
top:-20px;

}
.latest .comment-box {
	margin: 5px 0 0px;
}

.latest .comment-box .member-n {
	width: 80px;
	text-align: center;
	margin-right: 20px;
	position: relative;
	top: 10px;
    color: #2C82C9;    
}
.latest .comment-box .member-c {
    width: calc(100% - 100px);
    background-color: #d7d7d7;
    padding: 10px;
    position: relative;
    border-radius: 2px;
    margin-bottom: 0;
}
.latest .comment-box .member-c:before {
	content: "";
	display: block;
	position: absolute;
	left: -28px;
	top: 7px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #d7d7d7 transparent transparent;
	border-width: 15px;
}

/* start category  */
input[type="radio"],
input[type="checkbox"] {
    width: 1.5em;
    height: 1.5rem;
    accent-color: rgb(5, 86, 133);
    position: relative;
    top: 5px;
}
.categories .panel-heading{
    padding-left:15px;
    color: #1b1414;
}
.categories .panel-body{
    padding: 0;
}
.categories .cat {
margin-bottom: 0px;
padding: 15px;
position: relative;
overflow: hidden;
}
.categories .cat-buttons {
    -moz-transition:ease 0.5s all ;
    -webkit-transition: ease 0.5s all;
    transition: ease 0.5s all;
    position: absolute;
    right:-140px;
    top: 25px;
}
.categories .cat:hover .cat-buttons {
    right:10px;
    top: 25px;
}
.categories .cat-buttons a{
    padding: 2px 10px;
}
.categories .cat:last-of-type ~hr{
    display: none;
}
.categories hr {
    margin-top: 0px;
    margin-bottom: 0px;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #201e1e inset;
}
.categories .visibility , .categories .commenting , .categories .advertise {
    margin-right: 10px;
    color: #fff;
    padding: 2px 10px;
    border-radius: 6px;
}
.categories .visibility{
background-color: #2C82C9;
}
.categories .commenting{
background-color: #60646D;
}
.categories .advertise {
background-color: #E75926;

}
.categories .ord {
    color: #642020;
    cursor: pointer;
    font-weight: 500;
}
.categories .ord .active {
    color: #594B95;
    font-weight: bolder;
}
.categories h3 {
    margin: 0;
    font-weight: bold;
    color: #5f5d61;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.categories .full-view p{
    margin: 10px 0;
}
.categories .save-cat{
    margin-top: 15px;
}
.categories .cat .fa {
    padding: 0;
    font-size: 13px;
}
.categories .cat .fa-eye {
position: relative;
left: -5px;
top: -1px;
}
.categories .panel-heading .fa-sort ,.categories .panel-heading .fa-eye {
color: #4d4b4f;
}

/* start items section  */